<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnection" connectionString="data source=192.168.0.82;initial catalog=RightsU_Plus_Dev;persist security info=True;user id=sa;password=QWEpoi#123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--start: App Specific -->
    <add key="App.Environment" value="Production" />
    <add key="RootLogFolderPath" value="D:\" />
    <add key="RootAppName" value="UTO" />
    <add key="AppId" value="15" />
    <add key="AppName" value="AcqDealImportEngine" />
    <add key="App.LogLevel" value="Information" />
    <add key="QueryTimeoutInSeconds" value="180" />
    <!--end: App Specific -->

    <!--start: Autofac -->
    <add key="JobType" value="AcqDealImportEngine" />
    <add key="ConfigurationType" value="ApplicationConfiguration" />
    <add key="MessageQueueType" value="RabbitMQ" />
    <add key="NoSqlDBType" value="MSSQL" />
    <!--end: Autofac -->

    <!--start: MSSQL -->
    <add key="MSSQLConnectionHost" value="192.168.0.82" />
    <add key="MSSQLConnectionDatabase" value="RightsURightsValidation" />
    <add key="MSSQLConnectionUsername" value="sa" />
    <add key="MSSQLConnectionPassword" value="QWEpoi#123" />
    <!--end: MSSQL -->
    
    <!--start: RabbitMQ -->
    <add key="RabbitMQQueuePath" value="amqp://guest:guest@localhost:5672" />
    <!--end: RabbitMQ -->

    <!--start: MSMQ RabbitMQ -->
    <add key="musicacqtitlestoprocess" value="MusicAcqTitlestoProcess" />
    <!--end: MSMQ RabbitMQ -->

    <!--start: Other Settings -->
    <add key="RunAtInterval" value="10000" />
    <!--end: Other Settings -->
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>